<!-- <h1>{{ today | date: 'H' }}</h1>
<h1>{{ today }}</h1>




<button (click)="hello()">hai</button>
<h2>{{today1 }}</h2>


<div>

  <form>
    <h4>mat-select</h4>

    <select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
      <option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </option>
    </select>

    <p> Selected food: {{selectedValue}} </p>
  </form>
</div>


<div>
  <span>select customer </span>
  <select class="
  selectpicker" (ngModelChange)="changeValue($event)" data-style="btn-info" name="selectpicker">
    <option *ngFor="let  value of customers">
      {{value}}
    </option>
  </select>


</div> -->









<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>





    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker formControlName="image" (change)="onImagePicked($event)" display=none>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>




<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch
  demo modal</button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">E-Mail Address</label>
          <div>
            <input type="email" class="form-control input-lg" name="email" value="">
          </div>
        </div>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
          mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
      </div>
    </div>
  </div>
</div>
